:root {
    --vermelho: #e50914;
    --preta: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*elementos base*/

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .Logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-size: 20px;
}

header nav a:hover {
    color: #fff;
}


/*Filme principal*/

.serie-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("/img/capa-pll.jpg");
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.serie-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.serie-principal .título {
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.serie-principal .container {
    width: 70%;
}

.box-serie {
    height: 100%;
    widows: 100%;
    display: block;
}

.carrosel-series {
    margin-top: 5px;
}